body{
    background-color: purple;
}


#viewport {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    position: relative;
  }

  #spacer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .card {
    height: 80px; /* MUST be fixed for this simple version */
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    padding: 10px;
    background-color: red;
  }
  .card:hover{
      background-color: white;
  }

  .card-content{
      max-height: 80px;
      overflow: hidden;
      transition: max-height 0.25s ease;
      background-color: yellow;
  }
.card:hover .card-content {
max-height: 300px; /* large enough for full content */
}
h5{
    color: blue;
    font-weight: 900;
    font-size: 15px;
}

p{
    color: white;
    font-size: 12px;
    font-weight: 400;
}
