*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: btsfont1;
  src: url(fonnts.com-SolanoGothicMVB-Bd.ttf);
}
@font-face {
  font-family: btsfont2;
  src: url(fonnts.com-SolanoGothicMVB-Rg.ttf);
}

body{
    background-color: hsl(256, 31%, 90%);
    cursor: default;

    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: btsfont2;
}
header{
    height: 51px;
    background-color: hsl(256, 42%, 51%);
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
}


    #viewport {
      height: 500px;
      overflow-y: auto;
      border: 1px solid #ccc;
      position: relative;
    }

    #spacer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    #items {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

  .card {
    height: 60px; /* MUST be fixed for this simple version */
    box-sizing: border-box;
    padding: 0 30px 0 60px;
    max-width: 700px;
  }

  article{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    height: 51px;
    width: 100%;
    box-shadow: 1.5px 1.5px 3px 0 hsla(256, 32%, 62%,0.3), 3px 3px 12px 0 hsla(256, 32%, 62%,0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  article:hover{
    background-color: white;
  }
/*
  .card-content{
      max-height: 80px;
      overflow: hidden;
      transition: max-height 0.25s ease;
      background-color: yellow;
  }
.card:hover .card-content {
max-height: 300px; /* large enough for full content }*/

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 102px);
}

h5{
    font-size: 14px;
    font-weight: 1000;
    color: hsl(255, 19%, 36%);
    margin-top: 9px;
    letter-spacing: 1.5px;
}

p{
    font-size: 14px;
    font-weight: 500;
    color: hsl(257, 16%, 56%);
    margin-top: 3px;
    letter-spacing: 0.6px;
    font-family: btsfont1;
}

time{
  width: 42px;
  height: 18px;
  font-size: 15px;
  position: absolute;
  left: -42px;
  text-align: center;
}

.link{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 51%;
  position: absolute;
  right: 0;
  height: 33px;
  width: 33px;
  margin: 9px;
  background-color: hsl(256, 43%, 55%);
  border-radius: 50%;
  cursor: pointer;
}
.link:hover{
  background-color: hsl(256, 57%, 64%);
}

.icon{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 51%;
  position: absolute;
  left: 0;
  height: 51px;
  width: 51px;
}


.music .icon{background-image: url(images/icons/music.png);}

.event .icon{ background-image: url(images/icons/ticket.png); }

.youtube .icon{ background-image: url(images/icons/social-media/youtube.png); }
.daumcafe .icon{ background-image: url(images/icons/social-media/daumcafe.svg); }
.facebook .icon{ background-image: url(images/icons/social-media/facebook.png); }
.instagram .icon{ background-image: url(images/icons/social-media/instagram.svg); }
.japanfanclub .icon{ background-image: url(images/icons/social-media/japanfanclub.png); }
.naverblog .icon{ background-image: url(images/icons/social-media/naverblog.png); }
.soundcloud .icon{ background-image: url(images/icons/social-media/soundcloud.png); }
.stationhead .icon{ background-image: url(images/icons/social-media/stationhead.jpg); }
.tiktok .icon{ background-image: url(images/icons/social-media/tiktok.png); }
.bangtanblog .icon{ background-image: url(images/icons/social-media/tistory.png); }
.twitter .icon{ background-image: url(images/icons/social-media/twitter.png); }
.x .icon{ background-image: url(images/icons/social-media/x.png); }
.weibo .icon{ background-image: url(images/icons/social-media/weibo.svg); }
.weverse .icon{ background-image: url(images/icons/social-media/weverse.svg); }

.birthday .icon{ background-image: url(images/icons/birthday.png); }
.anniversary .icon{ background-image: url(images/icons/anniversary.png); }
.military .icon{ background-image: url(images/icons/military.png); }

.package .icon{ background-image: url(images/icons/physical.png); }
.dvd .icon{ background-image: url(images/icons/dvd.png); }

