*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(256, 31%, 90%);
    cursor: default;

    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    height: 51px;
    background-color: hsl(256, 42%, 51%);
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
}

#viewport {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    position: relative;
  }

  #spacer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .card {
    height: 80px; /* MUST be fixed for this simple version */
    box-sizing: border-box;
    border: 1px red solid;
    background-color: green;
  }

  article{
    background-color: orange;
    margin: 12px;
  }
/*
  .card-content{
      max-height: 80px;
      overflow: hidden;
      transition: max-height 0.25s ease;
      background-color: yellow;
  }
.card:hover .card-content {
max-height: 300px; /* large enough for full content }*/


h5{
    color: blue;
    font-weight: 900;
    font-size: 15px;
}

p{
    color: white;
    font-size: 12px;
    font-weight: 400;
}

time{
    width: 50px;
    height: 10px;
    background-color: pink;
    color: coral;
    font-size: 24px;
}
