*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(256, 31%, 90%);
    cursor: default;

    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 51px;
    background-color: hsl(256, 42%, 51%);
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
}

#viewport {
    max-height: calc(100% - 51px);
    overflow-y: auto;
    border: 1px solid #ccc;
    position: relative;
  }

  #spacer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .card {
    height: 60px; /* MUST be fixed for this simple version */
    box-sizing: border-box;
    padding: 4.5px 30px 4.5px 60px;
  }

  article{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    height: 51px;
    width: 100%;
    box-shadow: 1.5px 1.5px 3px 0 hsla(256, 32%, 62%,0.3), 3px 3px 12px 0 hsla(256, 32%, 62%,0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article:hover{
    background-color: white;
  }
/*
  .card-content{
      max-height: 80px;
      overflow: hidden;
      transition: max-height 0.25s ease;
      background-color: yellow;
  }
.card:hover .card-content {
max-height: 300px; /* large enough for full content }*/


h5{
    font-size: 12px;
    font-weight: 800;
    color: hsl(255, 19%, 36%);
    width: calc(100% - 102px);
    margin-top: 6px;
}

p{
    font-size: 12px;
    font-weight: 300;
    color: hsl(257, 16%, 56%);
    width: calc(100% - 102px);
    margin-top: 3px;
}

time{
  width: 42px;
  height: 18px;
  font-size: 15px;
  position: absolute;
  left: -42px;
  text-align: center;
}

.music .icon{
  display: block;
  height: 51px;
  width: 51px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 51%;
  position: absolute;
  left: 0;
}

.music .icon{background-image: url(images/icons/music.png);}
