*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(256, 31%, 90%);
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    height: 51px;
    background-color: hsl(256, 42%, 51%);
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
}

#viewport {
    height: calc(100% - 51px);
    overflow-y: auto;
    position: relative;
  }

  #spacer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .card {
    height: 60px; /* MUST be fixed for this simple version */
    box-sizing: border-box;
    padding: 4.5px 30px 4.5px 60px;
    max-width: 700px;
  }

  article{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    box-shadow: 1.5px 1.5px 3px 0 hsla(256, 32%, 62%,0.3), 3px 3px 12px 0 hsla(256, 32%, 62%,0.3);
    position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  article:hover{
    background-color: white;
  }


h5{
    font-size: 12px;
    font-weight: 800;
    color: hsl(255, 19%, 36%);
}

p{
    font-size: 12px;
    font-weight: 300;
    color: hsl(257, 16%, 56%);
}

time{
    width: 30px;
    height: 18px;
    font-size: 12px;
    position: absolute;
    left: -30px;
}
